<div class="field-unit__label">
  <%= f.label field.permitted_attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(field.permitted_attribute, nil, {}, { class: 'medium-field' }) do %>
    <%= options_for_select(field.associated_resource_image_options, field.selected_option) %>
  <% end %>
</div>
