      <div class="page-content-header pure-g">
        <div class="pure-u">
          <h1 class="recipe-content-title"><%= title I18n.t(:'recipes.edit') %></h1>
        </div>
      </div>

      <div class="page-content-body">
<%= render 'form' %>
<%= render 'shared/recipe_events_form' %>
      </div>
