@page {
  size: A4;
  margin: 0;
}

body.print-body {
  float: none;
  position: relative;
  width: 100%;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.print-content {
  .print-footer,
  table {
    page-break-inside: avoid;
    break-inside: avoid;
    page-break-after: auto;
    break-after: auto;
  }

  h1, h2, h3, h4, h5, h6, tr {
    page-break-inside: avoid;
    page-break-after: avoid;
    break-inside: avoid;
    break-after: avoid;
  }

  padding: 10mm;

  h1 {
    font-size: 48pt;
    margin: 0;
  }

  h2 {
    font-size: 24pt;
    line-height: 1.8em;
    margin: 0;
  }

  caption {
    font-size: 18pt;
    line-height: 1.8em;
  }

  h1, h2, h3, h4, h5, h6, p, li, th, td, caption {
    color: #666;
    font-weight: 300;
    font-family: Montserrat,FreeSans,Arimo,"Droid Sans",verdana,arial,helvetica,sans-serif;
  }

  .print-header {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    top: 0;
  }

  .print-main {
    .poster-image img,
    .qr-code svg {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 80%;
      max-width: 75%;
    }
  }

  .print-footer {
    padding-top: 1em;
    font-size: 10pt;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);

    &.fixed-bottom {
      position: fixed;
      bottom: 10mm;
    }

    h2 {
      font-size: 16pt;
    }

    .print-logo {
      padding-right: 10pt;
      float: left;
    }
  }

  .beer-recipe {
    .recipe_details {
      padding-top: 1em;

      caption {
        display: none;
      }
    }
    .recipe-tables {
      page-break-inside: auto;
      break-inside: auto;
    }
    .recipe-table {
      page-break-before: avoid;
      break-before: avoid;
    }
    .recipe-section {
      page-break-inside: avoid;
      break-inside: avoid;
      page-break-after: auto;
      break-after: auto;
      padding: 1.5em 0 1em 0;
      margin: 0;
    }
    .zebra-expanded {
      tr.details-row:hover + tr {
        display: none;
      }
      tr.info-row {
        display: none;
      }
    }
  }
}
