<div id="flasher">
  <% if flash[:notice] %>
  <div id="flash-notice" class="pure-alert pure-alert-success"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] || flash[:error] %>
    <div id="flash-alert" class="pure-alert pure-alert-error">
      <%= flash[:alert] %>
      <%= flash[:error] %>
    </div>
  <% end %>
</div>
