<div id="slider" class="pure-u-1 mThumbnailScroller media-thumbnail-list"
  data-mts-axis="x" data-mts-theme="buttons-in" data-mts-type="click-80">
  <ul>
  <% media.each do |medium| %>
    <%= render partial: 'shared/image', locals: { recipe: @recipe, medium: medium } %>
  <% end %>
  </ul>
</div>
