<% if media.size > 0 %>
<div id="slider" class="pure-u-1 mThumbnailScroller"
  data-mts-axis="x" data-mts-theme="hover-full">
  <ul id="media-thumbnails">
  <% media.each do |medium| %>
    <li>
      <%= link_to medium.file.url do %>
        <%= image_tag medium.file.url(:small) %>
      <% end %>
    </li>
  <% end %>
</ul>
</div>
<% end %>
