          <div class="linked-list">
            <div class="official-event info-plate linked-item">
              <h2 class="item-title event-name item-content-title">
                <%= t(:'events.official_event_info') %>
              </h2>
              <h3 class="item-subtitle event-type">
                <%= I18n.t(:'events.last_registration_header') %>:
                <%= @event.last_registration %>
              </h3>
              <p class="item-desc event-description">
              <%= @event.registration_information %>
              </p>
            </div>
          </div>

