      <div class="page-content-header pure-g">
        <div class="pure-u">
          <h1 class="page-content-title">Verktyg</h1>
        </div>
      </div>

      <div class="page-content-body">
        <p>På den här sidan finns några verktyg som kan vara användbart när du brygger.</p>

        <h2>No Sparge calculator</h2> <p>En kalkylator för att
        <a href="http://softwaist.se/NoSparge">beräkna "no sparge"</a>
        volymer.</p>

        <h2>Specific gravity calculator</h2> <p>En kalkylator för att
        <a href="http://softwaist.se/NoSparge/sgv2.php">justera SG</a>.</p>
      </div>

