.feature-list {
  &.page-content-body {
    padding: 0;
  }
  img {
    width: 100%;
  }
  .feature-item {
    min-height: 300px;
    padding: 3em 2em;

    &:nth-child(4n+1) {
      background-color: #ffd663; /* #ffcd40; */ /* #ffc94c;*/
      color: #000;
    }
    &:nth-child(4n+2) {
      background-color: #ffebb2; /* #fff4d6; */ /* #4a4a4a; */
      color: #000;
    }
    &:nth-child(4n+3) {
      background-color: #005493;
      color: #fff;
    }
    &:nth-child(4n+4) {
      background-color: #e8e8e8;
      color: #000;
    }

    @media screen and (min-width: 64em) {
      &:nth-child(even) {
        .feature-description > * {
          padding-right: 2rem;
        }
      }
      &:nth-child(odd) {
        flex-flow: row-reverse wrap;

        .feature-description > * {
          padding-left: 2rem;
        }
      }
    }
  }
}
