.brew-timer-close {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.timer-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brew-timer {
  &.brewtimer-fullscreen .timer-content {
    padding: 2em;
    width: 100vw;
    height: 100vh;

    .timer-time {
      margin-top: 0.5em;
      padding-bottom: 0.25em;
      font-size: 6em;
    }
  }

  .timer-content {
    background: white;

  }

  .brew-timer-expand {
    background: transparent;
    border: 0;
    float: right;
    margin-top: -2px;
    margin-right: 0.5em;
    -webkit-appearance: none;
    appearance: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=20);
    opacity: 0.2;
    cursor: pointer;

    &:hover {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
      filter: alpha(opacity=50);
      opacity: 0.5;
    }
  }

  .timer-time {
    text-align: center;
    font-weight: bold;
    font-size: 2.8em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    cursor: pointer;
  }

  .timer-time-done {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .timer-step {
    font-size: 1em;
    line-height: 1.2em;
    color: darkgray;
    vertical-align: middle;

    &:not(.timer-step-current) {
      height: 2em;
    }

    .timer-step-time {
      text-align: right;
      white-space: nowrap;
    }

    .timer-step-name {
      text-align: center;
    }

    .timer-step-icon {
      display: inline-block;
    }

    .timer-step-description,
    .timer-step-description-wide {
      display: none;
    }

    &.timer-step-passed {
      color: lightgray;
      opacity: 0.9;

      .timer-step-time,
      .timer-step-starttime {
        display: none;
      }
    }

    &.timer-step-current {
      color: black;
      font-weight: bold;
      min-height: 5em;
      margin-bottom: 1.5em;
      background-color: #fff4d7;
      padding-top: 1em;
      padding-bottom: 1em;
      border-radius: 0.5em;
      box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.35);

      .timer-step-name {
        font-size: 2em;
        line-height: 1.4em;
        vertical-align: top;
        margin-top: -0.25em;
      }

      .timer-step-description,
      .timer-step-description-wide {
        text-align: center;
        font-size: 1.2em;
        font-weight: normal;
        line-height: 1.4em;
      }

      .timer-step-description {
        display: inline-block;
      }

      .timer-step-description-wide {
        display: none;
      }

      .timer-step-time span {
        white-space: normal;
        display: inline-block;
      }

      .timer-step-icon {
        height: 4em;

        .timer-step-starttime {
          display: none;
        }

        .timer-step-mash {
          background-image: image-url("flaticon/mash.svg");
        }

        .timer-step-raise {
          background-image: image-url("flaticon/raise.svg");
        }

        .timer-step-boil {
          background-image: image-url("flaticon/boil.svg");
        }

        .timer-step-hops {
          background-image: image-url("flaticon/hops.svg");
        }

        .timer-step-misc {
          background-image: image-url("flaticon/misc.svg");
        }

        .timer-step-image {
          background-position: center;
          background-repeat: no-repeat;
          background-size: 4em 4em;
          width: 4em;
          height: 4em;
          padding-left: 0.5em;
        }
      }
    }
  }

  .modal-body {
    overflow-y: auto;
  }

  .modal-footer {
    text-align: center;

    .pure-button {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }
  }
}

@mixin brewtimer-fullscreen() {
  padding: 0 !important;

  .modal-dialog {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    min-height: 100vh;
    height: auto;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    position:relative;
  }

  .modal-footer {
    border-radius: 0;
    bottom: 0;
    position: absolute;
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 48em) {
  .brew-timer {
    .timer-step {
      padding-left: 1em;
      padding-right: 1em;
    }

    .timer-step.timer-step-current {
      padding-top: 1em;
    }
  }
}

@media screen and (max-width: 48em) {
  div#awn-toast-container {
    bottom: 85px;
    right: 50%;
    margin-right: -160px;
  }
}

@media screen and (max-width: 48em) {
  .brew-timer {
    .brew-timer-expand {
      display: none;
    }

    .timer-step-time span {
      padding-right: 0.5em;
      display: block;
    }

    .timer-step.timer-step-current {
      .timer-step-description {
        display: none;
      }

      .timer-step-description-wide {
        display: inline-block;
      }
    }

    .modal-footer {
      .pure-button {
        font-size: 150%;

        span {
          display: none;
        }
      }
    }

    @include brewtimer-fullscreen();
  }
}

.brewtimer-fullscreen {
  @include brewtimer-fullscreen();
}
