#pie-chart-malt > svg {
  display: block;
  margin: auto;
}

.gauges {
  text-align: center;

  .gauge-chart {
    padding: 0 0.5em;
  }
}

#hops-burst > svg {
  display: block;
  margin: auto;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* (was 100%) aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
