.thumb-unlike {
  color: #333;

  i {
    font-size: 120%;
    opacity: 1;

    &:hover {
      opacity: 0.5;
    }
  }
}
.thumb-like {
  color: #333;

  i {
    font-size: 120%;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
.upvote-disabled {
  opacity: 0.5;
  font-size: 120%;
}
.tabs .comment {
  font-size: 13px;
}
