.event-badge-list {
  margin-top: 0.5em;
}
.event-map {
  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .event-map {
    display: flex;
    justify-content: flex-end;
  }
}
