.media-thumbnail-list {
  background: #ddd !important;

  .media-thumbnail {
    background: white;
    position: relative;
  }

  .media-buttons {
    opacity: 0.9;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1000;

    .inline-button.destroy-button {
      padding-right: 0;
    }
  }

  &.no-images {
    padding: 0;
  }
}

#slider {
  height: auto;
  margin-top: 1em;
  overflow: auto;
}
