.info-plate {
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #eaeaea;
  padding: 8px;
  margin-bottom: 1em;

  img {
    margin-right: 1em;
  }
  a {
    color: #303030;
  }
}
.ad-plate {
  background-color: #fdf6e3;
}


