.page-recipe_details-show {
  .ingredients-list {
    overflow-x: scroll;
  }

  fieldset .pure-button {
    margin-left: 0.5em;
  }

  .ingredients-table, .empty-table {
    display: none;
  }

  .ingredients-list table {
    margin-bottom: 1.5em;
  }
}
