// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-avatar {
  border-radius: 3px;
  margin-right: 1em;
}
.user-index {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .user-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
    height: 5em;
    cursor: pointer;

    .user-name,
    .user-brewery {
      margin: 0;
    }
    .user-name {
      font-size: 120%;
      a {
        color: #333;
      }
    }
    .user-brewery {
      text-transform: uppercase;
      a {
        color: #999;
      }
    }
    .user-item-details {
    }
  }
}

.user-show {
  .user-field {
    margin-bottom: 1em;

    .user-field-heading {
      min-width: 7em;
      font-weight: bold;
      font-size: 1.17em;
      display: inline-block;
      &::after {
        content: ":";
      }
    }
    .user-field-value {
      display: inline;
    }
  }
}
