<p>Hej <%= @resource.email %>!</p>

<p>Någon har efterfrågat en länk för att ändra ditt lösenord.
Du kan göra det genom att följa länken nedan.</p>

<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Om det inte var du som efterfrågade detta kan du ignorera detta e-postmeddelande.</p>
<p>Ditt lösenord kommer inte att ändras förrän du använder länken ovan och anger ett nytt.</p>
