      <div class="page-content-header pure-g">
        <div class="pure-u-1">
          <h1 class="label-content-title"><%= title I18n.t(:'label.new') %></h1>
        </div>
      </div>

      <div class="page-content-body">
        <div class="pure-g">
          <div class="pure-u-1 pure-u-lg-1-2">
<%= render 'form' %>
          </div>
          <div class="pure-u-1 pure-u-lg-1-2">
            <h2>Förhandsgranskning</h2>
            <div class="label-preview">
              <%= raw @preview_svg %>
            </div>
          </div>
        </div>
      </div>
