      <div class="page-content-header pure-g">
        <div class="pure-u">
          <h1 class="recipe-details-content-title"><%= title I18n.t(:'recipe_detail.edit') %></h1>
        </div>
      </div>

      <div class="page-content-body">
<%= render 'form' %>
      </div>
